@import 'tw-animate-css';
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-green-500: #24ae7c;
  --color-green-600: #0d2a1f;

  --color-blue-500: #79b5ec;
  --color-blue-600: #152432;

  --color-red-500: #f37877;
  --color-red-600: #3e1716;
  --color-red-700: #f24e43;

  --color-light-200: #e8e9e9;

  --color-dark-200: #0d0f10;
  --color-dark-300: #131619;
  --color-dark-400: #1a1d21;
  --color-dark-500: #363a3d;
  --color-dark-600: #76828d;
  --color-dark-700: #abb8c4;

  --container-padding: 2rem;
  --container-screens-2xl: 1400px;

  --font-family-sans: var(--font-sans), ...fontFamily.sans;

  --background-image-appointments: url('/assets/images/appointments-bg.png');
  --background-image-pending: url('/assets/images/pending-bg.png');
  --background-image-cancelled: url('/assets/images/cancelled-bg.png');

  --keyframes-accordion-down-from: {
    height: 0;
  }
  --keyframes-accordion-down-to: {
    height: var(--radix-accordion-content-height);
  }

  --keyframes-accordion-up-from: {
    height: var(--radix-accordion-content-height);
  }
  --keyframes-accordion-up-to: {
    height: 0;
  }

  --keyframes-caret-blink-0-70-100: {
    opacity: 1;
  }
  --keyframes-caret-blink-20-50: {
    opacity: 0;
  }

  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
  --animation-caret-blink: caret-blink 1.25s ease-out infinite;
}

/* Remove scrollbar */
.remove-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.remove-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* Utilities */
.sidebar {
  width: 100%;
  max-width: 72rem;
  flex-direction: column;
  overflow: auto;
  background-color: #1a1d21;
  padding: 7rem 1rem 10rem 1rem;
}

.left-sidebar {
  display: none;
}

.left-sidebar.lg {
  display: flex;
}

.right-sidebar {
  display: none;
}

.right-sidebar.xl {
  display: flex;
}

.clip-text {
  background-clip: text;
  color: transparent;
}

.bg-image {
  /* background-image: url('light-rays.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1a1d21;
}

.header {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}

.sub-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

.container {
  position: relative;
  flex: 1;
  overflow-y: auto;
  padding: 0 5%;
}

.sub-container {
  margin: 0 auto;
  flex-direction: column;
  padding: 10rem 0;
  width: 100%;
  height: 100%;
}

.side-img {
  display: block;

  height: 100%;
  object-fit: cover;
}

.copyright {
  font-size: 14px;
  font-weight: regular;
  text-align: center;
  color: #6b7280;
}

.copyright.xl {
  text-align: left;
}

/* Admin */
.admin-header {
  position: sticky;
  top: 3rem;
  z-index: 20;
  margin: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2xl;
  background-color: #333;
  padding: 5% 12rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.admin-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 5% 12rem;
}

.admin-stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.admin-stat.sm {
  flex-direction: row;
}

.admin-stat.xl {
  gap: 10rem;
}

/* Form */
.radio-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 2px dashed #666;
  background-color: #444;
  padding: 3rem;
  border-radius: 1rem;
}

.checkbox-label {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
}

.checkbox-label.peer-disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* File Upload */
.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border: 2px dashed #666;
  background-color: #444;
  padding: 5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.file-upload_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.2rem;
  color: #666;
}

/* Stat Card */
.stat-card {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  border-radius: 2xl;
  background-size: cover;
  padding: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Status Badge */
.status-badge {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 50%;
  padding: 1rem 2rem;
}

/* Data Table */
.data-table {
  z-index: 10;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem;
}

/* Alignments */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Typography */
.text-36-bold {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

.text-24-bold {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.text-32-bold {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

.text-18-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.text-16-semibold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.text-16-regular {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.text-14-medium {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.text-14-regular {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.text-12-regular {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

.text-12-semibold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

/* Shadow Overrides */
.shad-primary-btn {
  background-color: #34c759 !important;
  color: #fff !important;
}

.shad-danger-btn {
  background-color: #e53e3e !important;
  color: #fff !important;
}

.shad-gray-btn {
  border: 1px solid #666 !important;
  background-color: #444 !important;
  color: #fff !important;
  cursor: pointer !important;
}

.shad-input-label {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #666 !important;
}

.shad-input {
  background-color: #444 !important;
  border: 1px solid #666 !important;
  padding: 0.5rem 1rem !important;
  font-size: 14px !important;
  color: #fff !important;
  outline: none !important;
}

.shad-input-icon {
  background-color: #444 !important;
  border: 1px solid #666 !important;
  padding: 0.5rem 1rem !important;
  font-size: 14px !important;
  color: #fff !important;
  outline: none !important;
}

.shad-textArea {
  background-color: #444 !important;
  border: 1px solid #666 !important;
  padding: 0.5rem 1rem !important;
  font-size: 14px !important;
  color: #fff !important;
  outline: none !important;
}

.shad-combobox-item {
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.shad-combobox-trigger {
  height: 2.75rem !important;
}

.shad-select-trigger {
  background-color: #444 !important;
  border: 1px solid #666 !important;
  padding: 0.5rem 1rem !important;
  font-size: 14px !important;
  color: #fff !important;
  outline: none !important;
}

.shad-select-content {
  background-color: #444 !important;
  border: 1px solid #666 !important;
}

.shad-dialog {
  background-color: #444 !important;
  border: 1px solid #666 !important;
}

.shad-dialog button {
  outline: none !important;
}

.shad-error {
  color: #e53e3e !important;
}

.shad-table {
  border-radius: 0.5rem !important;
  overflow: hidden !important;
}

.shad-table-row-header {
  border-bottom: 1px solid #666 !important;
  color: #fff !important;
}

.shad-table-row {
  border-bottom: 1px solid #666 !important;
  color: #fff !important;
}

.shad-otp {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
}

.shad-otp-slot {
  font-size: 36px !important;
  font-weight: bold !important;
  justify-content: center !important;
  flex-direction: column !important;
  border: 1px solid #666 !important;
  border-radius: 0.5rem !important;
  padding: 1rem !important;
  gap: 1rem !important;
}

.shad-alert-dialog {
  padding: 2rem !important;
  background-color: #444 !important;
  border: 1px solid #666 !important;
  outline: none !important;
}

.shad-sheet-content button {
  top: 0.5rem !important;
  outline: none !important;
}

/* React Phone Number Input Overrides */
.input-phone {
  margin-top: 0.5rem !important;
  height: 2.75rem !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem 1rem !important;
  font-size: 14px !important;
  background-color: #444 !important;
  border: 1px solid #666 !important;
  color: #fff !important;
}

/* React Date Picker Overrides */
.date-picker {
  overflow: hidden !important;
  border: none !important;
  width: 100% !important;
  padding: 0.5rem 1rem !important;
  font-size: 14px !important;
  background-color: #444 !important;
  border-radius: 0.5rem !important;
  outline: none !important;
}

/* =====  REACT-DATEPICKER OVERRIDES */
.react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  background-color: #1a1d21 !important;
  border-color: #363a3d !important;
  color: #abb8c4 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #ffffff !important;
}

.react-datepicker__triangle {
  fill: #1a1d21 !important;
  color: #1a1d21 !important;
  stroke: #1a1d21 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #363a3d !important;
}

.react-datepicker__input-container input {
  background-color: #1a1d21 !important;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #24ae7c !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #363a3d !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  outline: none;
  margin-left: 4px;
  background: #1a1d21;
  font-size: 14px;
  font-weight: 500;
}

.PhoneInputInput::placeholder {
  color: #1a1d21;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
